<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tnt.mapper.ShopitemsMapper" >
	
  	<delete id="delete" parameterType="java.lang.Integer" >
    	delete from shopitems
    	where item_id = #{itemId,jdbcType=INTEGER}
  	</delete>
  	
  	<insert id="insert" parameterType="com.tnt.pojo.Shopitems" >
    	insert into shopitems (item_id, item_goods, item_num, item_user)
    	values (#{itemId,jdbcType=INTEGER}, #{itemGoods,jdbcType=INTEGER}, #{itemNum,jdbcType=INTEGER}, #{itemUser,jdbcType=INTEGER})
 	</insert>
 	
 	
 	<!-- 查询购物车内所有商品信息 -->
 	<select id="getShopitems" resultMap ="Shopitems">
		select * from shopitems s left join goods g on s.item_goods=g.goods_id
	</select>
	
	
	<resultMap type="Shopitems" id="Shopitems" autoMapping="true">
	<id column="item_id" property="item_id"/>
	<result column="item_goods" property="item_goods"/>
	<result column="item_num" property="item_num"/>
	<result column="item_user" property="item_user"/>
	</resultMap>
	 
	 
	 
	<!--  -->
 	<select id="getShopitemsList" resultMap ="Shopitems">
		select * from shopitems
	</select>
	
	<!-- 
	<resultMap type="Shopitems" id="goodsType" autoMapping="true">
		<id column="item_id" property="item_id" />
		商品和类型是一对一
		property="type" 中type表示实体类中的属性名称
		javaType="type"中Type表示返回类型中的bin.Type，取别名后简写为type
		<association property="goodsType" javaType="goodsType" autoMapping="true"></association>
	</resultMap> -->

</mapper>