<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tnt.mapper.ShopitemsMapper" >
	
  	<delete id="delete" parameterType="java.lang.Integer" >
    	delete from shopitems
    	where item_id = #{itemId,jdbcType=INTEGER}
  	</delete>
  	
  	<insert id="insert" parameterType="com.tnt.pojo.Shopitems" >
    	insert into shopitems (item_id, item_goods, item_num, item_user)
    	values (#{itemId,jdbcType=INTEGER}, #{itemGoods,jdbcType=INTEGER}, #{itemNum,jdbcType=INTEGER}, #{itemUser,jdbcType=INTEGER})
 	</insert>
 	
 	<!-- <select id="getShopitemsList" resultMap="getShopitemsList">
		select * from shopitems
	</select>
	<resultMap type="Shopitems" id="getShopitemsList" autoMapping="true">
	<id property="itemId" column="item_id" />
	<result property="itemGoods" column="item_goods" />
	<result property="itemNum" column="item_num" />
	<result property="itemUser" column="item_user" />
	</resultMap>	 -->
	
	
<!-- 
	<resultMap type="Shopitems" id="goodsType" autoMapping="true">
		<id column="item_id" property="item_id" />
		商品和类型是一对一
		property="type" 中type表示实体类中的属性名称
		javaType="type"中Type表示返回类型中的bin.Type，取别名后简写为type
		<association property="goodsType" javaType="goodsType" autoMapping="true"></association>
	</resultMap> -->

</mapper>