<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tnt.mapper.ShopitemsMapper" >
	
  	<!-- 有用 -->
  <sql id="Base_Column_List" >
    item_id, item_goods, item_num, item_user
  </sql>

	<!-- 删除操作 -->
  	<delete id="delete" parameterType="java.lang.Integer" >
    	delete from shopitems
    	where item_id = #{itemId,jdbcType=INTEGER}
  	</delete>
  	
  	<!-- 添加操作 -->
  	<insert id="insert" parameterType="com.tnt.pojo.Shopitems" >
    	insert into shopitems (item_id, item_goods, item_num, item_user)
    	values (#{itemId,jdbcType=INTEGER}, #{itemGoods,jdbcType=INTEGER}, #{itemNum,jdbcType=INTEGER}, #{itemUser,jdbcType=INTEGER})
 	</insert>
 	
 	<!-- 查询操作 -->
 	<select id="getShopitemsList" resultMap="com.tnt.pojo.Shopitems" resultType="java.lang.Integer">
		select * from shopitems p left join type t on p.tid = t.tid
	</select>
	<!--自定义结果集  -->
	<resultMap id="BaseResultMap" type="com.tnt.pojo.Shopitems">
	<id column="item_id" property="itemId" jdbcType="INTEGER"/>
	<result column="item_goods" property="itemGoods" jdbcType="INTEGER"/>
	<result column="item_num" property="itemNum" jdbcType="INTEGER"/>
	<result column="item_user" property="itemUser" jdbcType="INTEGER"/>
	</resultMap>	

</mapper>